@font-face {
	font-family: "Source Sans 3";
	src: url("fonts/SourceSans3-VariableFont_wght.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Source Sans 3";
	src: url("fonts/SourceSans3-Italic-VariableFont_wght.woff2") format("woff2");
	font-style: italic;
	font-weight: 200 900;
	font-display: swap;
}

:root {
	--background: #2b2b2b;
	--foreground: #f2f2f2;
	
	--link: #5fbf6f;
	--link-hover: #7fd68c;
	--link-visited: #d98a4e;
}

html {
	background-color: var(--background);
	color: var(--foreground);
}

body {
	margin: 0 auto;
	padding: 2rem;
	
	max-width: 48rem;
	
	background-color: var(--background);
	color: var(--foreground);
	
	font-family: "Source Sans 3", sans-serif;
	font-size: 1.20rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

p {
	text-align: justify;
}

a {
	color: var(--link);
}

a:hover, a:focus {
	color: var(--link-hover);
}

a:visited {
	color: var(--link-visited);
}

hr {
	border: none;
	border-top: 1px solid #555555;
}

